/* SidePanelContent.module.css */
.sidePanelContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.playlistsSection {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}

.bottomSection {
  margin-top: auto;
  padding: 0 16px 16px 16px;
}